{% comment %}
----------------------------------------------------------------------------
  Snippet: Register form
----------------------------------------------------------------------------
{% endcomment %}

<div class="login-form">
  <div class="login-form__header">
    <h2 class="h1 login-form__title">
      {{ 'customer.register.title' | t }}
    </h2>
  </div>

  {% form 'create_customer' %}
    <div class="login-form__body">
      <div class="login-form__body-container">

        {{ form.errors | default_errors }}

        <div class="form-group">
          <div class="login-form__field-group">

            <div class="form-group__field">
              <label class="visually-hidden" for="FirstName">
                {{ 'customer.register.first_name' | t }}
              </label>

              <input
                id="FirstName"
                autofocus
                name="customer[first_name]"
                placeholder="{{ 'customer.register.first_name' | t }}"
                type="text"
                value="{% if form.first_name %}{{ form.first_name }}{% endif %}"
              >
            </div>

            <div class="form-group__field">
              <label class="visually-hidden" for="LastName">
                {{ 'customer.register.last_name' | t }}
              </label>

              <input
                id="LastName"
                name="customer[last_name]"
                placeholder="{{ 'customer.register.last_name' | t }}"
                type="text"
                value="{% if form.last_name %}{{ form.last_name }}{% endif %}"
              >
            </div>

            <div class="form-group__field">
              <label class="visually-hidden" for="Email">
                {{ 'customer.register.email' | t }}
              </label>

              <input
                id="Email"
                {% if form.errors contains 'email' %}
                  class="input-error"
                {% endif %}
                autocapitalize="off"
                autocomplete="off"
                name="customer[email]"
                placeholder="{{ 'customer.register.email' | t }}"
                spellcheck="false"
                type="email"
                value="{% if form.email %}{{ form.email }}{% endif %}"
              >
            </div>

            <div class="form-group__field">
              <label class="visually-hidden" for="CreatePassword">
                {{ 'customer.register.password' | t }}
              </label>

              <input
                id="CreatePassword"
                {% if form.errors contains 'password' %}
                  class="input-error"
                {% endif %}
                name="customer[password]"
                placeholder="{{ 'customer.register.password' | t }}"
                type="password"
              >
            </div>
            <div 
              id="accepts_marketing_checkbox"
              class="newsletter-modal__checkbox checkbox__container klaviyo_form_actions">
              <input 
                type="checkbox" 
                name="customer[accepts_marketing]"
                value="true"
                id="marketing"
                class="checkbox__input"
              >
              <label 
                for="marketing"
                class="
                  caption checkbox__label
                  newsletter-callout__checkbox-label
                ">{{ 'customer.register.accept_marketing_html' | t }}</label>
            </div>
          </div>

          <div class="form-group__footer">
            <input
              class="button button--primary button--dark button--large"
              type="submit"
              value="{{ 'customer.register.submit' | t }}"
            >

          </div>
        </div>

      </div>
    </div>
  {% endform %}
</div>
