{% comment %}
----------------------------------------------------------------------------
  Snippet: Reset password form
----------------------------------------------------------------------------
{% endcomment %}

<div
  class="login-form is-hidden"
  js-password-form="recoverPasswordForm"
>
  <div class="login-form__header">
    <h2 class="h1 login-form__title">
      {{ 'customer.recover_password.title' | t }}
    </h2>
  </div>

  {% form 'recover_customer_password' %}
    <div class="login-form__body">
      <div class="login-form__body-container">
        {{ form.errors | default_errors }}

        <div class="form-group">
          <div class="login-form__field-group">

            {% if form.posted_successfully? %}
              <span
                class="hide note note--success"
                js-password-form="resetPasswordSuccess"
              >
              </span>
            {% endif %}

            <div class="form-group__field">
              <label for="RecoverEmail" class="visually-hidden">
                {{ 'customer.recover_password.email' | t }}
              </label>

              <input
                id="CustomerEmail"
                autocapitalize="off"
                autocomplete="off"
                name="email"
                placeholder="{{ 'customer.recover_password.email' | t }}"
                spellcheck="false"
                tabindex="-1"
                type="email"
              >
            </div>

            <div class="form-group__footer">
              <input
                class="button button--primary button--dark button--large"
                tabindex="-1"
                type="submit"
                value="{{ 'customer.recover_password.submit' | t }}"
              >

              <div class="login-form__reset-password">
                <button
                  class="body-2"
                  tabindex="-1"
                  js-password-form="cancelPasswordLink"
                >
                  {{ 'customer.recover_password.cancel' | t }}
                </button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  {% endform %}
</div>