{% comment %}
----------------------------------------------------------------------------
  Section: Login Block
  - This is a login & password reset form block
----------------------------------------------------------------------------
{% endcomment %}

{% assign image = section.settings.image %}

<section
  class="login-block critical-clear"
  data-section-id="{{ section.id }}"
  data-section-type="login-block"
>
  <div class="login-block__aside">
    <div
      class="login-block__bg cover lazyload"
      data-bgset="{% render 'responsive-bg-image', image: image %}"
    ></div>
  </div>

  <div class="login-block__main">
    <div class="login-block__main-wrapper">
      <div
        id="ResetSuccess"
        class="note note--success is-hidden"
      >
        {{ 'customer.recover_password.success' | t }}
      </div>

      {% render 'login-form' %}
      {% render 'reset-password-form' %}

      <div class="login-block__create-account">
        <span class="h3 login-block__create-account-title">
          {{ 'customer.login.new_customers' | t }}
        </span>

        <a
          class="button button--secondary button--dark"
          href="{{ routes.account_register_url }}"
          js-register="register"
        >
          {{ 'customer.login.create_account' | t }}
        </a>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Login Block",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Recommended upload size at least 720 x 846px."
      }
    ]
  }
{% endschema %}
