<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="{{ settings.application_color }}" name="theme-color">
    <link href="{{ canonical_url }}" rel="canonical">

    {% if settings.enable_href_lang %}
      {% render 'site-href-lang' %}
    {% endif %}

    {% if settings.favicon != blank %}
      {% render 'site-favicon' %}
    {% endif %}

    {% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}
    {% assign formatted_initial_value_stripped = formatted_initial_value | strip_html %}

    <title>
      {{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}
    </title>

    <meta content="{{ 'gift_cards.issued.subtext' | t }}" name="description">

    {{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}

    {% render 'theme-fonts' %}

    {% render 'critical' %}
    {% render 'theme-scripts' %}

    {{ content_for_header }}
  </head>

  <body
    id="{{ page_title | handle }}"
    class="template-{{ template.name | handle }}"
    data-cy="body"
  >
    <main id="MainContent" class="main-content critical-clear">
      {{ content_for_layout }}
    </main>

    {% if settings.enable_developer_mode %}
      {% render 'frame-developer-mode' %}
    {% endif %}

    {% render 'style-tags' with layout: 'gift_card' %}
    {% render 'script-tags' with layout: 'gift_card' %}

    <script>
      if (document.querySelector('#QrCode')) {
        new QRCode(document.getElementById('QrCode'), {
          text: {{ gift_card.qr_identifier | json }},
          width: 120,
          height: 120
        });
      }
    </script>
  </body>
</html>
