{% comment %}
----------------------------------------------------------------------------
  Template: Password
  - The share buttons share the home page URL.
  - The share text is grabbed from the store meta description.
----------------------------------------------------------------------------
{% endcomment %}
{% layout 'password' %}

<div class="container">
  <div class="row">
    <div class="col xs12 m5 offset-m3">
      <h1 class="template-password__logo">
        {% render 'site-logo' with store_name: shop.name %}
      </h1>

      <h2>{{ 'general.password_page.opening_soon' | t }}</h2>

      {% if shop.password_message != blank %}
        <p>
          {{ shop.password_message }}
        </p>
      {% endif %}

      <a
        class="button button--primary button--dark"
        href="#loginForm"
        data-target="loginForm"
        js-toggle="loginFormToggle"
      >
        {{ 'general.password_page.password_link' | t }}
      </a>

      <div id="loginForm" class="template-password__form">
        <div class="form-group">
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}

            <label for="password">
              {{ 'general.password_page.login_form.password_label' | t }}
            </label>

            <div class="input-group">
              <div class="input-group__control">
                <input
                  id="Password"
                  name="password"
                  placeholder="{{ 'general.password_page.login_form.password_placeholder' | t }}"
                  type="password"
                >
              </div>

              <div class="input-group__addon">
                <button
                  class="button button--primary button--dark"
                  name="commit"
                  type="submit"
                >
                  {{ 'general.password_page.login_form.submit' | t }}
                </button>
              </div>
            </div>
          {% endform %}
        </div>

        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
  </div>
</div>
